<tr>
  <td
    style="
      padding: 30px;
      background-color: <%= theme.colors.backgroundTertiary %>;
    "
  >
    <h1
      style="
        margin-top: 0;
        margin-bottom: 16px;
        font-size: 26px;
        line-height: 32px;
        font-weight: bold;
        letter-spacing: -0.02em;
      "
    >
      <%= data.title %>
    </h1>
    <p style="margin: 0"><%= data.text %></p>
  </td>
</tr>
