<tr>
  <td style="padding: 30px; background-color: #ffffff">
    <h1
      style="
        margin-top: 0;
        margin-bottom: 16px;
        font-size: 26px;
        line-height: 32px;
        font-weight: bold;
        letter-spacing: -0.02em;
      "
    >
      <%= title %>
    </h1>
    <p style="margin: 0">
      <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempus
      adipiscing felis, sit amet blandit ipsum volutpat sed. Morbi porttitor,
      <a
        href="http://www.example.com/"
        style="color: #e50d70; text-decoration: underline"
        >eget accumsan dictum</a
      >, nisi libero ultricies ipsum, in posuere mauris neque at erat. -->
      <%= text %>
    </p>
  </td>
</tr>
