<tr>
  <td
    style="
      padding: 30px;
      font-size: 24px;
      line-height: 28px;
      font-weight: bold;
      background-color: #ffffff;
      border-bottom: 1px solid #f0f0f5;
      border-color: rgba(201, 201, 207, 0.35);
    "
  >
    <a href="<%= link %>" style="text-decoration: none"
      ><img
        src="<%= image %>"
        width="540"
        alt=""
        style="
          width: 100%;
          height: auto;
          border: none;
          text-decoration: none;
          color: #363636;
        "
    /></a>
  </td>
</tr>
