<tr>
  <td
    style="
      padding: 40px 30px 30px 30px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
    "
  >
    <a href="<%= link %>" style="text-decoration: none"
      ><img
        src="<%= image %>"
        width="165"
        alt="Logo"
        style="
          width: 80%;
          max-width: 165px;
          height: auto;
          border: none;
          text-decoration: none;
          color: #ffffff;
        "
    /></a>
  </td>
</tr>
